#ifndef _CAN_MSGS_RX_H
#define _CAN_MSGS_RX_H
{% import "templates/macros.j2" as macros -%}
{{- macros.header() -}}
{{ macros.imports() -}}

{% for msg in can_msgs %}
typedef struct {
{% for point in msg.points -%}
{% if point.name is defined %} {{ point.c_type }} {{ point.name }};
{% endif -%}
{% endfor -%}
} {{ macros.function_name(msg) -}}_t;

void receive_{{ macros.function_name(msg) }}(const can_msg_t *message, {{macros.function_name(msg) }}_t *{{macros.function_name(msg) }});
{% endfor %}

void receive_can(const can_msg_t *msg);

#endif