{#
    This is a Jinja template, everything in {{ }} or {% %} brackets is replaced with C code.
    Code inside brackets are Python snippets.

    Note: dont use tabs in C code, replace them with four spaces (tabs cause weird formatting issues).

    This file creates the encoder functions header given a list of CANMsg obejcts.
-#}
#ifndef _CAN_MSGS_TX_H
#define _CAN_MSGS_TX_H
{% import "templates/macros.j2" as macros -%}
{{ macros.header() -}}
#include <stdbool.h>
#include <stdint.h>

{%- for msg in can_msgs %}
{% if not 'overflow' in msg.desc.lower() %}
/**
* Contents of this message:
{% for field in msg.fields -%}
* {{field.name }} - {{ field.doc }}
{% endfor -%}
*/
uint8_t send_{{ macros.function_name(msg) }}
(
    {%- for point in msg.points if point.name is defined -%}
    {{ point.c_type }} {{ point.name -}}
    {{- "," if not loop.last -}}
    {%- endfor -%}
);
{%- endif -%}
{% endfor %}
#endif
