{#
    This is a Jinja template, everything in {{ }} or {% %} brackets is replaced with C code.
    Code inside brackets are Python snippets.

    Note: dont use tabs in C code, replace them with four spaces (tabs cause weird formatting issues).

    This file creates the encoder functions given a list of CANMsg obejcts.
-#}
{% import "templates/macros.j2" as macros -%}
{{- macros.header() -}}

#include "can_messages_tx.h"
{{- macros.imports() }}

static void handle_bitstream_overflow(bitstream_t *bitstream_res,
					    uint32_t can_id);

{% for msg in can_msgs -%}
uint8_t send_{{ macros.function_name(msg) }}
(
    {%- for point in msg.points if point.name is defined -%}
    {{ point.c_type }} {{ point.name -}}
    {{- "," if not loop.last -}}
    {%- endfor -%}
)
{
    {% set field_idx = namespace(value=0) -%}
    bitstream_t {{ macros.function_name(msg) }}_msg;
	uint8_t bitstream_data[{{ macros.msg_size(msg) }}];
	bitstream_init(&{{ macros.function_name(msg) }}_msg, bitstream_data, {{ macros.msg_size(msg) }});

	{% for point in msg.points -%}
    {% if point.name is defined and point.formatter is defined %}
    {{ point.name }} = {{ point.name -}}{{macros.point_scalar(point) -}};
    {%- endif %}
    {%- endfor %}


    {% for point in msg.points -%}
    {% if point.endianness is defined and point.endianness == 'little' -%}
    endian_swap(&{{ point.name -}}, sizeof({{ point.name -}}));
    {% endif -%}
    {% endfor %}
	{% for point in msg.points -%}
    {% if point.name is defined -%}
        bitstream_add(&{{ macros.function_name(msg) -}}_msg, {{ point.name -}}, {{ point.size -}});
    {% endif -%}
    {%- endfor %}
    can_msg_t msg;
    msg.id = {{ msg.id }};
    msg.len = sizeof(bitstream_data);
    memcpy(msg.data, &bitstream_data, sizeof(bitstream_data));

    {% if not 'overflow' in msg.desc.lower() %}
    handle_bitstream_overflow(&{{ macros.function_name(msg) -}}_msg, msg.id);
    {% endif %}
    return queue_send(&can_outgoing, &msg, TX_NO_WAIT);
}

{% endfor %}

/// @brief A helper which sends appropriate error to stdout and CAN if a bistream overflows
/// @param bitstream_res The bitstream to check for overflow
/// @param can_id The CAN ID this bistream data is intended for
/// @return 0 if success
static void handle_bitstream_overflow(bitstream_t *bitstream_res,
					    uint32_t can_id)
{
	if (!bitstream_res->overflow) {
		return;
	}

    {% for msg in can_msgs -%}
    {%- if 'overflow' in msg.desc.lower() -%}
    static uint16_t overflow_cnt = 0;
	overflow_cnt++;
	send_{{ macros.function_name(msg) -}}(can_id, overflow_cnt);
    {%- endif -%}
    {%- endfor %}
}
