{#
    This is a Jinja template, everything in {{ }} or {% %} brackets is replaced with C code.
    Code inside brackets are Python snippets.

    Note: dont use tabs in C code, replace them with four spaces (tabs cause weird formatting issues).

    This file creates the encoder functions given a list of CANMsg obejcts.
-#}
{% import "templates/macros.j2" as macros -%}
{{- macros.header() -}}

#include "can_messages_tx.h"
{{- macros.imports() }}

static void handle_bitstream_overflow(bitstream_t *bitstream_res,
					    uint32_t can_id);

{% for msg in can_msgs -%}
uint8_t send_{{ macros.function_name(msg) }}
(
    {%- for point in msg.points if point.name is defined -%}
    {{ point.c_type }} {{ point.name -}}
    {{- "," if not loop.last -}}
    {%- endfor -%}
)
{
    can_msg_t msg;
    msg.id = {{ msg.id }};
    {%- if (msg.is_ext is defined and msg.is_ext is true) or (msg.id | int(base=16) > 0x7FF) %}
    msg.id_is_extended = true;
    {%- else %}
    msg.id_is_extended = false;
    {% endif -%}
    msg.len = {{ macros.msg_size(msg) }};

    {# Find size of data, either uint8_t, uint16_t, uint32_t, or uint64_t. -#}
    {%- if macros.msg_size_bits(msg)|int <= 8 %}
    uint8_t data = 0;
    {%- set total_bits = 8 %}
    {%- elif macros.msg_size_bits(msg)|int <= 16 %}
    uint16_t data = 0;
    {%- set total_bits = 16 %}
    {%- elif macros.msg_size_bits(msg)|int <= 32 %}
    uint32_t data = 0;
    {%- set total_bits = 32%}
    {%- else %}
    uint64_t data = 0;
    {%- set total_bits = 64 %}
    {%- endif -%}
    {#- Track bit position from MSB and pack each point -#}
    {%- set bit_pos = namespace(value=0) %}

    {%- for point in msg.points %}
        {%- if point.name is defined %}
            {%- set shift = total_bits - bit_pos.value - point.size %}
                {%- if point.signed is defined and point.signed %}
                    {#- Handle signed points! -#}
                    {%- set max_value = (2 ** (point.size - 1)) - 1 %}
                    {%- set min_value = -(2 ** (point.size - 1)) %}
                    {{ macros.c_int_type(point.size, true) }} {{ point.name }}_i = ({{ macros.c_int_type(point.size, true) }})({{ point.name }}{{ macros.point_scalar(point) }}); {#- Convert point to a signed int datatype -#}
                    {#- Check for overflow/underflow. If value exceeds bounds, cap the value and print a warning message. -#}
                    if({{ point.name }}_i > {{ max_value }}) {
                        PRINTLN_WARNING("Overflow occured for point {{ point.name }}! Capping point to its max value (point is {{ point.size }} bits signed, so max_value={{ max_value }}).");
                        {{ point.name }}_i = {{ max_value }};
                    } else if({{ point.name }}_i < {{ min_value }}) {
                        PRINTLN_WARNING("Underflow occured for point {{ point.name }}! Capping point to its min value (point is {{ point.size }} bits signed, so min_value={{ min_value }}).");
                        {{ point.name }}_i = {{ min_value }};
                    }
                    data |= (({{ macros.c_int_type(point.size, false) }})({{ point.name }}_i) & 0x{{ '%X' | format((2 ** point.size) - 1) }}ULL) << {{ shift }};
                {%- else %}
                    {#- Handle unsigned points! -#}
                    {%- set max_value = (2 ** point.size) - 1 %}
                    {{ macros.c_int_type(point.size, false) }} {{ point.name }}_i = ({{ macros.c_int_type(point.size, false) }})({{ point.name }}{{ macros.point_scalar(point) }}); {#- Convert point to an unsigned int datatype -#}
                    {#- Check for overflow. If value exceeds the max value that can fit in the point's number of bits, cap the value and print a warning message. -#}
                    if({{ point.name }}_i > {{ max_value }}) {
                        PRINTLN_WARNING("Overflow occured for point {{ point.name }}! Capping point to its max value (point is {{ point.size }} bits, so max_value={{ max_value }}).");
                        {{ point.name }}_i = {{ max_value }};
                    }
                    data |= (({{ point.name }}_i) & 0x{{ '%X' | format((2 ** point.size) - 1) }}ULL) << {{ shift }};
                {%- endif %}
            {%- set bit_pos.value = bit_pos.value + point.size %}
        {%- endif %}
    {%- endfor %}

    {# Copy to message buffer with endian conversion -#}
    {%- if macros.msg_size_bits(msg)|int <= 8 %}
    msg.data[0] = data;
    {%- elif macros.msg_size_bits(msg)|int <= 16 %}
    uint16_t data_bigendian = __builtin_bswap16(data);
    memcpy(msg.data, &data_bigendian, 2);
    {%- elif macros.msg_size_bits(msg)|int <= 32 %}
    uint32_t data_bigendian = __builtin_bswap32(data);
    memcpy(msg.data, &data_bigendian, 4);
    {%- else %}
    uint64_t data_bigendian = __builtin_bswap64(data);
    memcpy(msg.data, &data_bigendian, 8);
    {%- endif %}
    {#
    Note: 
    Message sizes that aren't 1, 2, 4, or 8 bytes can still exist here.
    For example, if a message is 6 bytes, it will be constructed in a uint64_t buffer (which is 8 bytes in total).
    But, since msg.len is still set to the actual size of the message (6 bytes), the CAN controller will only send the 6 bytes.
    This works because the last two bytes in the uint64_t are just zeros and can be chopped off without messing with anything.
    #}

    return queue_send(&can_outgoing, &msg, TX_NO_WAIT);
}

{% endfor %}

/// @brief A helper which sends appropriate error to stdout and CAN if a bistream overflows
/// @param bitstream_res The bitstream to check for overflow
/// @param can_id The CAN ID this bistream data is intended for
/// @return 0 if success
static void handle_bitstream_overflow(bitstream_t *bitstream_res,
					    uint32_t can_id)
{
	if (!bitstream_res->overflow) {
		return;
	}

    {% for msg in can_msgs -%}
    {%- if 'overflow' in msg.desc.lower() -%}
    static uint16_t overflow_cnt = 0;
	overflow_cnt++;
	send_{{ macros.function_name(msg) -}}(can_id, overflow_cnt);
    {%- endif -%}
    {%- endfor %}
}
